h1 {
    color: red;
    font-size: larger;
    margin-top: 20px;
    margin-left: 50%;
}

h2 {
    color: blue;
    font-size: large;
    margin-top: 2px;
    margin-left: 25%;
}

p {
    margin-left: 2%;
}

ul {
    border: solid,2px,black;
    margin: 2%;
    padding: 2%;
    border-radius: 25px;
}